.main-content {
    background: whitesmoke;
    @include outer-container(100%);
    section {
        @include outer-container(100%);
        &.full {
            padding: $contentPadding 0px;
        }
        &.half {
            height: auto;
            padding: $contentPadding;
            @include span-columns(6);
        }

        &.third {
            height: auto;
            padding: $contentPadding;
            @include span-columns(4);
        }

        &.sidebar-l {
            padding: 0px;
            @include span-columns(12);
            section {
                padding-right: $contentPadding;
                @include span-columns(8);
            }
            aside {
                background: #eee;
                padding: $contentPadding;
                @include span-columns(4);
            }
        }

    }

    // Typography
    h1 {
        margin: 20px 0px;
        color: $blue;
        font-size: 2.5em;
    }

    h2 {
        margin: 20px 0px;
        color: $darkBlue;
        font-size: 2em;
    }

    h3 {
        margin: 10px 0px;
        color: $blue;
        font-size: 1.5em;
    }
}
