.news-tile {
    background: #fff;
    width: 100%;
    position: relative;
    margin-bottom: $contentPadding;
    padding-bottom: 50px;
    box-shadow: $shadow;
    border: solid 1px #ddd;

    @include outer-container();
    img {
        height: 100%;
        @include span-columns(3);
    }

    .content {
        padding: 10px 0px 0px 10px;
        @include span-columns(9);
    }

    h3 {
        padding: 5px 10px;
        margin: 0px 0px;
        &:hover {
            color: $darkBlue;
        }
    }
    .date {
        margin: 0px 0px;
        display: block;
        padding: 0px 10px;
        font-size: 0.8em;
        font-weight: 700;
    }
    .tags {
        position: absolute;
        bottom: 0px; right: 0px;
        padding: 10px;
        width: 100%;
        @mixin tagSpan($color){
            background: $color;
            &:hover {
                cursor: pointer;
                background: darken($color, 10%);
            }
        }
        span {
            margin: 0px 3px;
            border-radius: 3px;
            line-height: 30px;
            font-weight: 700;
            font-size: 0.75em;
            padding: 0px 10px;
            color: #fff;
            float: right;
            @include tagSpan($blue);

            &.alert {
                @include tagSpan($red);
            }
            &.proclomation {
                @include tagSpan(green);
            }
        }
    }
}
