.btn {
    background: $lightBlue;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    margin: 7px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    &:hover {
        background: darken($lightBlue, 10%);
    }
    &.small {
        padding: 10px 12px;
        font-size: 0.8em;
        &:hover {
            background: darken($lightBlue, 10%);
        }
    }
    &.active {
        background: darken($lightBlue, 15%) !important;
    }
    i {
        vertical-align: middle;
    }
}
